Hello #{@user_name},

Your account has been activated, please access it by #{@root_url}.

If the above URL does not work try copying and pasting it into your browser. If you continue to have problem, please feel free to contact us.

Thank you for your participation!
The Future Mobility Survey team
