- if timezone_switch
  - if current_user.show_timezone_warnings?
    #flash_messages.timezone_switch
      %p.content_feedback_warning
        Change timezone to
        = succeed "?" do
          %span#suggested_tz= timezone_switch[:description]
        %span.inline_options
          %a#change_tz{:href => "#"} Yes
          %a#dismiss_tz{:href => "#"} No
          = link_to "Don't ask again", dismiss_timezone_warnings_users_path
    :javascript
      jQuery("#change_tz").click(function () {
      	var matching_timezone = $("#user_time_zone option:contains('#{timezone_switch[:formatted_offset]}'):first").val();
      	$("#user_time_zone").val(matching_timezone).change();
      });

      jQuery("#dismiss_tz").click(function () {
      	jQuery(".timezone_switch").fadeOut(500);
      });

      var matching_timezone = $("#user_time_zone option:contains('#{timezone_switch[:formatted_offset]}'):first").text();
      $("#suggested_tz").html(matching_timezone);
