.form-group{id: "d-" + id.dasherize}
  %label.control-label
    #{t("sp_experiment.labels.#{section}.questions.#{label_t}")}
  = number_field_tag id, nil, min: min, max: max, class: 'form-control', required: true
