#tutorial.clearfix
  #controls.breadcrumbs_holder
    %span#breadcrumb_step_1.breadcrumb.current_step{:style => "width:20%"}= link_to_function 'Start', "nextStep('', 'step_1');"
    %span#breadcrumb_step_2_android.breadcrumb{:style => "display:none;width:25%"}= link_to_function 'Step 1', "nextStep('', 'step_2_android');"
    %span#breadcrumb_step_3_android.breadcrumb{:style => "display:none;width:25%"}= link_to_function 'Step 2', "nextStep('', 'step_3_android');"
    %span#breadcrumb_step_2_iphone.breadcrumb{:style => "display:none; width:15%"}= link_to_function 'Step 1', "nextStep('', 'step_2_iphone');"
    %span#breadcrumb_step_3_iphone.breadcrumb{:style => "display:none; width:15%"}= link_to_function 'Step 2', "nextStep('', 'step_3_iphone');"
    %span#breadcrumb_step_4_iphone.breadcrumb{:style => "display:none; width:15%"}= link_to_function 'Step 3', "nextStep('', 'step_4_iphone');"
    %span#breadcrumb_step_5_iphone.breadcrumb{:style => "display:none; width:15%"}= link_to_function 'Step 4', "nextStep('', 'step_5_iphone');"
    %span#breadcrumb_step_6.breadcrumb.final_step{:style => "display:none; width:20%"}= link_to_function 'Final Step', "nextStep('', 'step_6');"
  #step_1.tutorial_steps
    %p.title_2 Instalar e registar a aplicacao
    = succeed "Por" do
      %p.tutorial Aqui, vamos guia-lo pela instalacao e registo na aplicacao
  .clear
  %table{:style => "width: 100%;margin-left: 0px"}
    %tr
      %td{:style => "width:25%"}
      %td{:style => "text-align: center"}
        = link_to_function image_tag(tutorial/android.jpeg, :height = '60', :alt =android ), nextStep('step_1', 'step_2_android');, :class =image_link, :onmouseover = showSubtitle('android_sub'), :onmouseout = hideSubtitle('android_sub')
      %td{:style => "text-align: center"}
        = link_to_function image_tag(tutorial/apple.png, :height = '60', :alt =iphone ), nextStep('step_1', 'step_2_iphone');, :class =image_link, :onmouseover = showSubtitle('iphone_sub'), :onmouseout = hideSubtitle('iphone_sub')
      %td{:style => "width:25%"}
    %tr
      %td{:style => "width:25%"}
      %td{:style => "text-align:center;"}
        %p#android_sub.content_1{:style => "text-align:center;display:none"} Android
      %td{:style => "text-align:center"}
        %p#iphone_sub.content_1{:style => "text-align:center;display:none"} iPhone
      %td{:style => "width:25%"}
#step_2_android.tutorial_steps{:style => "display:none"}
  %p.title_2 Download e Instalacao
  .clear
  %p.tutorial You can get the mobile app through any of the following:
  %ul
    %li Search for 'FM Survey' in Google Play
    %li
      %strong or
    %li
      Open the following url on your smarphone:
      %a{:href => "https://fmsurvey.sg/afms", :target => "_blank"}
        %strong https://fmsurvey.sg/afms
    %li
      %strong or
    %li
      Scan this QR code:
      %br/
      .img_container
        = image_tag(tutorial/qr_android.png, :height = '120', :alt =qr_android)
  .clear
  = link_to_function 'Next', nextStep('step_2_android', 'step_3_android');, :class =button
  = link_to_function 'Back', back();, :class =button
#step_3_android.tutorial_steps{:style => "display:none"}
  %p.title_2 Register your account
  .clear
  %p.tutorial.italic Note: Please make sure you have your survey id with you
  %p.tutorial.small.italic (please contact us if you cannot find your ID)
  .clear
  %p.tutorial The registration process takes two easy steps, as shown bellow
  .img_container
    = link_to image_tag(tutorial/reg1_android.png, :height = '120', :alt =reg1_android), image_path('tutorial/reg1_android.png'), :class = gallery, :rel=group1
    = link_to image_tag(tutorial/reg2_android.png, :height = '120', :alt =reg2_android), image_path('tutorial/reg2_android.png'), :class = gallery, :rel=group1
  .clear
  %p.tutorial All fields on the first screen are mandatory, while on the second screen, only your home zip code and survey ID are required.
  .clear
  %p.tutorial.small.italic Click any image for an increased size
  = link_to_function 'Next', nextStep('step_3_android', 'step_6');, :class =button
  = link_to_function 'Back', back();, :class =button
#step_2_iphone.tutorial_steps{:style => "display:none"}
  %p.title_2 Install TestFlight and register as a tester
  .clear
  %p.tutorial In order to register as a TestFlight user, please choose one of the following options:
  %ul
    %li
      Open the following url in your mobile:
      %a{:href => "http://tflig.ht/wFrUWo", :target => "_blank"}
        %strong http://iz.sg/iphone
    %li
      %strong or
    %li
      Scan this QR code:
      %br/
      .img_container
        = image_tag(tutorial/qr_iphone.png, :height = '120', :alt =qr_iphone)
    .clear
    %p.tutorial From there, follow the steps needed for registration:
    .img_container
      = link_to image_tag(tutorial/tf_reg_1.png, :height = '120', :alt =tf_reg_1), image_path('tutorial/tf_reg_1.png'), :class = gallery, :rel=group1
      = link_to image_tag(tutorial/tf_reg_2.png, :height = '120', :alt =tf_reg_2), image_path('tutorial/tf_reg_2.png'), :class = gallery, :rel=group1
      = link_to image_tag(tutorial/tf_reg_3.png, :height = '120', :alt =tf_reg_3), image_path('tutorial/tf_reg_3.png'), :class = gallery, :rel=group1
    .clear
    %p.tutorial
      Once complete, an email will be sent to you with your registration confirmation.
      %br/
      Please open this email on your iPhone.
    .clear
    %p.tutorial.small.italic Click any image for an increased size
    = link_to_function 'Next', nextStep('step_2_iphone', 'step_3_iphone');, :class =button
    = link_to_function 'Back', back();, :class =button
  #step_3_iphone.tutorial_steps{:style => "display:none"}
    %p.title_2 Register your device
    .clear
    %p.tutorial Open your dashboard by clicking the green button on your screen
    .img_container
      = link_to image_tag(tutorial/dev_dash.png, :height = '120', :alt =dev_dash), image_path('tutorial/dev_dash.png'), :class = gallery, :rel=group2
    .clear
    %p.tutorial And register your device
    .img_container
      = link_to image_tag(tutorial/dev_reg_1.png, :height = '120', :alt =dev_reg_1), image_path('tutorial/dev_reg_1.png'), :class = gallery, :rel=group3
      = link_to image_tag(tutorial/dev_reg_2.png, :height = '120', :alt =dev_reg_2), image_path('tutorial/dev_reg_2.png'), :class = gallery, :rel=group3
      = link_to image_tag(tutorial/dev_reg_3.png, :height = '120', :alt =dev_reg_3), image_path('tutorial/dev_reg_3.png'), :class = gallery, :rel=group3
      = link_to image_tag(tutorial/dev_reg_4.png, :height = '120', :alt =dev_reg_4), image_path('tutorial/dev_reg_4.png'), :class = gallery, :rel=group3
      = link_to image_tag(tutorial/dev_reg_5.png, :height = '120', :alt =dev_reg_5), image_path('tutorial/dev_reg_5.png'), :class = gallery, :rel=group3
    .clear
    %p.tutorial
      %strong> Within 24 hours of registration
      , you should expect to receive an email with the application download link.
    .clear
    %p.tutorial.small.italic Click any image for an increased size
    = link_to_function 'Next', nextStep('step_3_iphone', 'step_4_iphone');, :class =button
    = link_to_function 'Back', back();, :class =button
  #step_4_iphone.tutorial_steps{:style => "display:none"}
    %p.title_2 Install the application
    .clear
    %p.tutorial
      Open the link you received via email on your phone and proceed with the installation of the application.
      %br>/
      You can also directly open TestFlight app to install the FMSurvey app.
    .img_container
      = link_to image_tag(tutorial/inst_1.png, :height = '120', :alt =inst_1), image_path('tutorial/inst_1.png'), :class = gallery, :rel=group4
      = link_to image_tag(tutorial/inst_2.png, :height = '120', :alt =inst_2), image_path('tutorial/inst_2.png'), :class = gallery, :rel=group4
    .clear
    %p.tutorial.small.italic Click any image for an increased size
    = link_to_function 'Next', nextStep('step_4_iphone', 'step_5_iphone');, :class =button
    = link_to_function 'Back', back();, :class =button
  #step_5_iphone.tutorial_steps{:style => "display:none"}
    %p.title_2 Register your account
    .clear
    %p.tutorial Note: Please make sure you have your survey ID with you
    .clear
    %p.tutorial The registration process takes two easy steps as shown in the pictures
    .img_container
      = link_to image_tag(tutorial/fm_reg_1.png, :height = '120', :alt =fm_reg_1), image_path('tutorial/fm_reg_1.png'), :class = gallery, :rel=group5
      = link_to image_tag(tutorial/fm_reg_2.png, :height = '120', :alt =fm_reg_2), image_path('tutorial/fm_reg_2.png'), :class = gallery, :rel=group5
    %p.tutorial All fields on the first screen are mandatory, while on the second screen we only require your survey ID and home postal code.
    .clear
    %p.tutorial.small.italic Click any image for an increased size
    = link_to_function 'Next', nextStep('step_5_iphone', 'step_6');, :class =button
    = link_to_function 'Back', back();, :class =button
  #step_6.tutorial_steps{:style => "display:none"}
    %p.title_2 Use the application
    .clear
    %p.tutorial.bold Tips  Tricks
    %ul
      %li Please keep the application running and ensure that you are logged in.
      %li
        Run the application for at least
        %b 14
        days provide us with additional
        %b 5
        of them to receive your incentive.
      %li It is easier to provide information as it is collected, instead of waiting until the end of the 14 days.
      %li GPS data is not always precise, so you may see some traces that look "spiky" or have activities shown in the wrong location. Please feel free to move your stops to better reflect you activity locations.
      %li We're working hard to improve battery performance, so you may be asked to update the application during usage.
:javascript
  curr_step = 'step_1';
  curr_brand = '';
  currentStepIDx = 1

  function back() {
  	if (curr_step == 'step_1'){
  		curr_brand = '';
  		return;
  	}
  	else{
  		partial_curr = curr_step.split('_');
  		prev = parseInt(partial_curr[1]) - 1;
  		if (prev == 1)
  			prev_state = "step_1";
  		else{
  			if (curr_brand == 'android'  prev==5){
  				prev=3;
  			}
  			prev_state = "step_"+prev+"_"+curr_brand;
  		}
  		nextStep(curr_step, prev_state);
  	}
  }

  function nextStep(current, next){
  	if (current == 'step_1'){
  		window.chosenOS = next.split('_')[2]
  		if (window.chosenOS == 'android'){
  			jQuery('#breadcrumb_step_1').css('width','25%')
  			jQuery('#breadcrumb_step_6').css('width','25%')
  		} else {
  			jQuery('#breadcrumb_step_1').css('width','20%')
  			jQuery('#breadcrumb_step_6').css('width','20%')
  		}
  	}

  	if (next == 'step_1'){
  		window.chosenOS = undefined;
  	}

  	var prev = curr_step;

  	if(current == '')
  		current =curr_step;

  	parts = curr_step.split('_')
  	temp = parts[2];
  	if (temp)
  		curr_brand = temp;

  	curr_step = next;

  	jQuery('#'+current).fadeOut('slow', function(){
  		jQuery('#'+next).fadeIn('slow');
  	});

  	if (window.chosenOS != undefined){
  		which = window.chosenOS
  	} else {
  		which = undefined;
  	} 
  	nextParts = next.split('_');
  	currentStepIDx = parseInt(nextParts[1]);

  	jQuery('.breadcrumb').hide();

  	if (currentStepIDx == 1){

  		jQuery('#breadcrumb_step_1').show();
  		jQuery('#breadcrumb_step_1').removeClass('step_done').addClass('current_step')
  		return;
  	}

  	//console.log("currentStep",currentStepIDx)
  	var elmId;
  	for (var i=6; i>= 1; i--){
  		elmId = jQuery('#breadcrumb_step_'+i+(i>16!=undefined?('_'+which):''))
  		elmId.show();
  		elmId.removeClass('step_done')
  		elmId.removeClass('current_step')
  		elmId.removeClass('before_current')

  		if (currentStepIDx == 6){
  			if ((i==3  window.chosenOS == 'android') || i==5  window.chosenOS == 'iphone'){
  				elmId.addClass('before_current')
  			}
  		}

  		if (i == currentStepIDx-1){
  			elmId.addClass('before_current')
  		} else if (i){
  			elmId.addClass('step_done')
  		} else if (i > currentStepIDx) {
  			//elmId.removeClass('step_done')
  			//elmId.removeClass('current_step')
  		} else {
  			elmId.addClass('current_step')
  		}
  	}

  	/*nextParts = next.split('_');
  	idx = parseInt(nextParts[1]);
  	which = nextParts[2];
  	if (which == undefined)
  		which = prev.split('_')[2];
  	jQuery('.breadcrumb').hide();

  	for(var i=idx; i>= 1; i--){
  		jQuery('#breadcrumb_step_'+i+(i6!=undefined?('_'+which):'')).show();
  	}*/

  }

  function showSubtitle(id){
  	jQuery('#'+id).css('display', '');
  }

  function hideSubtitle(id){
  	jQuery('#'+id).css('display', 'none');
  }

  jQuery("a.gallery").fancybox();
