.row
  /
    <div class="col-md-4">
    <img alt='Activity Diary' src='/assets/maas/activity-diary-screenshot.png' title='Activity Diary'>
    <p>But what is an activity diary? The activity diary is an overview of your travel and non-travel activities. You can add or correct any of your activities and share with us some additional information. Don’t worry, all of this is kept confidentially (see our privacy policy)</p>
    </div>
  / Presurvey
  .col-xs-12.col-md-3{"data-intro" => "", "data-step" => "#{homepage_walkthrough_counter(:presurvey)}"}
    - if !current_user.completedPresurvey
      %p.phase
        = image_tag("smart/phase2.png", :alt =>"phase1" )
        = I18n.t('homepage.step_x') % {count: 1}
        \/
        %u= I18n.t('homepage.status.incomplete')
        %span.pull-right Day 1
      %p.title_2
        = link_to I18n.t('homepage.phase1.title'), pre_questionnaire_path
    - else
      %p.phase
        = image_tag("smart/phase2.png", :alt =>"phase1" )
        = I18n.t('homepage.step_x') % {count: 1}
        \/
        = succeed "\u{a0}" do
          %u= I18n.t('homepage.status.complete')
        = image_tag "maas/status_complete.png", size: "18x18"
        %span.pull-right Day 1
      %p.title_2
        = I18n.t('homepage.phase1.title')
    %p.content_2
      = I18n.t('homepage.phase1.duration')
    - if !current_user.completedPresurvey
      %p.content_i
        = I18n.t('homepage.phase1.description')
    - else
      %p.content_i
        %b= I18n.t('homepage.phase1.alt_description')
  / Stated Preference
  .col-xs-12.col-md-3{"data-intro" => "<h4>Finally on the 8th day check out the post-survey.</h4><h5>Here you will be able to learn about your travel statistics with our cool new mobility record tool. Then you will have the opportunity to have your say in the shaping of a new transportation service for London that combines all travel options (public transport, taxi, car clubs, Santander cycles) into easy to use plans for you.</h5>", "data-step" => "#{homepage_walkthrough_counter(:postsurvey)}"}
    - if not current_user.completedPostSurvey
      %p.phase
        = image_tag("smart/phase1.png", :alt =>"phase4" )
        = I18n.t('homepage.step_x') % {count: 4}
        %span.pull-right Day 9
      %p.title_2= link_to I18n.t('homepage.phase4.title'), new_stated_preference_experiment_path
    - else
      %p.phase
        = image_tag("smart/phase1.png", :alt =>"phase4" )
        = I18n.t('homepage.step_x') % {count: 4}
        \/
        = succeed "\u{a0}" do
          %u= I18n.t('homepage.status.complete')
        = image_tag "maas/status_complete.png", size: "18x18"
        %span.pull-right Day 9
      %p.title_2
        = I18n.t('homepage.phase4.title')
    %p.content_i
      = I18n.t('homepage.phase4.description')
    %p.content_i
      Make sure you do this on a PC or tablet - it may be a bit hard to see on your phone.
.clear.row
.clear.row
.col-xs-12{:style => "margin-top: 80px;"}
  .stripes
.clear
.row
  .col-xs-4.col-md-3
    = image_tag("smart/mobile.png", :alt =>"mobile" )
  .col-xs-4.col-md-3
    %p.title_1
      = I18n.t('homepage.confidentiality.title')
    %p.content_1
      = raw I18n.t('homepage.confidentiality.description') % {:privacy => link_to_privacy}
      \.
  .col-xs-4.col-md-3
    %p.title_1
      = I18n.t('homepage.support.title')
    %p.content_1= raw I18n.t('homepage.support.description') % {:faq => link_to_faqs, :support => link_to_support}
  .col-xs-8.col-xs-offset-2.col-md-3.col-md-offset-0
    %p  
    %p.title_1
      %b
        = I18n.t('homepage.thank_you')
/ Study By
.row{:style => "margin-top: 10px;"}
  .col-xs-2
    %h6 Study by:
  .col-xs-4
    = image_tag("maas/ucl-uei-logo.jpg", :alt =>"mobile" )
  .col-xs-3
    = image_tag("maas/its-logo.png", :alt =>"mobile" )
  .col-xs-3
    = image_tag("maas/smart-logo.png", :alt =>"mobile" )
.row{:style => "margin-top: 30px;"}
  .col-xs-2
    %h6 Supported by:
  .col-xs-3.col-md-2
    = image_tag("maas/work-shop-play-logo.jpg", :alt =>"mobile" )
/ Modal for Activity Diary screen-shot
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Activity Diary Example
      .modal-body
        %img{:alt => "Activity Diary", :src => "/assets/maas/activity-diary-screenshot.png", :title => "Activity Diary"}/
:javascript
  $('#activity-diary-screenshot').on('click', function() {
    $('#myModal').modal('show');
  });
:javascript
  // Show walk-through ONLY if not mobile!
  if (!(/Mobi/.test(navigator.userAgent))) {
    // var intro = introJs();
    // intro.start();
  }
:css
  .modal-dialog {
    width: 80%;
  }
:css
  .introjs-tooltip {
    text-align: center;
    max-width: none;
    background-color: #A01D21;
    color: white;
  }

  span.highlighter {
    background: #fff2a8;
    padding: 5px;
  }
