.row
  .col-xs-12
    %h4.text-center.title_1
      %i
        Have you ever wished it were easier…
        %br/
        …to use many different transport modes during one trip?
        %br/
        …to plan your trip, access and pay for everything through a single app?
        %br/
        …to buy all your mobility needs as a bundle and then care-freely travel?
        %br/
        We sure have.
    %h5
    %p We kindly invite you to take part in the following survey undertaken by the University College London (UCL) Energy Institute. The goal of this project is to analyse Londoner’s travel habits and preferences for new mobility services.
    %p The survey will last a week and will include the following steps:
/
  <div class="row">
  <div class="col-md-12 text-center">
  <haml_loud> image_tag(&quot;maas/fms-day-1.png&quot;, :alt =&gt;&quot;mobile&quot; ) </haml_loud>
  <haml_loud> image_tag(&quot;maas/fms-day-2.png&quot;, :alt =&gt;&quot;mobile&quot; ) </haml_loud>
  <haml_loud> image_tag(&quot;maas/fms-day-3.png&quot;, :alt =&gt;&quot;mobile&quot; ) </haml_loud>
  </div>
  </div>
/
  <div class="row">
  <div class="col-md-3 col-md-offset-1">
  <haml_loud> image_tag(&quot;maas/fms-day-1-2.png&quot;, :alt =&gt;&quot;mobile&quot; ) </haml_loud>
  </div>
  
  <div class="col-md-3">
  <haml_loud> image_tag(&quot;maas/fms-day-2-2.png&quot;, :alt =&gt;&quot;mobile&quot; ) </haml_loud>
  </div>
  
  <div class="col-md-3">
  <haml_loud> image_tag(&quot;maas/fms-day-3-2.png&quot;, :alt =&gt;&quot;mobile&quot; ) </haml_loud>
  </div>
  </div>
.row
  .col-md-12
    = image_tag("maas/info-page-flow.png", :alt =>"survey-flow" )
.row{:style => "margin-top: 10px;"}
  .col-xs-12
    %h5
    %p
      %u Confidentiality
      %br/
      Your confidentiality is our top priority. As such, we collect and store data in accordance with the 1998 Data Protection Act. Participation in the survey is completely voluntary and you are free to discontinue at any time. At any point during the survey, you can access a FAQ page and the privacy policy where you will be able to learn more about the different elements of the survey, what it is used for, confidentiality and data storage. For more information email us at
      = succeed "." do
        %b
          %u= mail_to "bartlett.maaslab@ucl.ac.uk"
    %p Thank you very much for taking part in the survey!
    .alert.alert-danger{:role => "alert"}
      %h4.text-center
        Click
        %b
          %u= link_to "here", new_users_path(panelist_secure_id: @panelist_secure_id)
        to register and start the survey
      %h4.text-center
        Click
        %b
          %u= link_to "here", pages_newuser_path
        to sign in if you have already registered
/ Study By
.row{:style => "margin-top: 30px;"}
  .col-xs-2
    %h6 Study by:
  .col-xs-4
    = image_tag("maas/ucl-uei-logo.jpg", :alt =>"mobile" )
  .col-xs-3
    = image_tag("maas/its-logo.png", :alt =>"mobile" )
  .col-xs-3
    = image_tag("maas/smart-logo.png", :alt =>"mobile" )
.row{:style => "margin-top: 30px;"}
  .col-xs-2
    %h6 Supported by:
  .col-xs-3.col-md-2
    = image_tag("maas/work-shop-play-logo.jpg", :alt =>"mobile" )
