= javascript_include_tag "umove/statistics"
.row{:style => "margin-top: 10px;"}
  .col-md-12
    %h3 User Management
    %table.table
      %tr
        %th.col-md-2 User Id
        %th.col-md-2 Email Address
        %th
          Actions
          %span.pull-right
            = button_tag "<i class=icon-envelope></i>".html_safe + "  Send Email To All", class: "btn btn-large btn-primary"
                
            \#{button_tag "<i class=icon-pushpin></i>".html_safe + "  Push Notification To All", class: "btn btn-large btn-primary"}
      - Summariser.tab_2_data.each do |data|
        %tr
          %td= data[:id]
          %td= data[:email]
          %td
            = button_tag "<i class=icon-envelope></i>".html_safe + "  Send Email", class: "btn btn-large btn-primary"
                
            \#{button_tag "<i class=icon-pushpin></i>".html_safe + "  Push Notification", class: "btn btn-large btn-primary"}
.stripes{:style => "margin-top: 10px;"}
